################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/TokenAuthWebApiCore.Client/app/app-routing.module.js.map
/TokenAuthWebApiCore.Client/app/app-routing.module.js
/TokenAuthWebApiCore.Client/app/page-not-found.component.js.map
/TokenAuthWebApiCore.Client/app/page-not-found.component.js
/TokenAuthWebApiCore.Client/node_modules
/TokenAuthWebApiCore.Client/app/products/product.service.js.map
/TokenAuthWebApiCore.Client/app/products/product.service.js
/TokenAuthWebApiCore.Client/app/products/product.js.map
/TokenAuthWebApiCore.Client/app/products/product.js
/TokenAuthWebApiCore.Client/app/products/product-list.component.js.map
/TokenAuthWebApiCore.Client/app/products/product-list.component.js
/TokenAuthWebApiCore.Client/app/products/product.module.js.map
/TokenAuthWebApiCore.Client/app/products/product.module.js
/TokenAuthWebApiCore.Client/app/shared/star.component.js.map
/TokenAuthWebApiCore.Client/app/shared/star.component.js
/TokenAuthWebApiCore.Client/app/shared/shared.module.js.map
/TokenAuthWebApiCore.Client/app/shared/shared.module.js
/TokenAuthWebApiCore.Client/app/user/profile.js.map
/TokenAuthWebApiCore.Client/app/user/profile.js
/TokenAuthWebApiCore.Client/app/user/login.component.js.map
/TokenAuthWebApiCore.Client/app/user/login.component.js
/TokenAuthWebApiCore.Client/app/user/auth.service.js.map
/TokenAuthWebApiCore.Client/app/user/auth.service.js
/TokenAuthWebApiCore.Client/app/user/auth.profile.js.map
/TokenAuthWebApiCore.Client/app/user/auth.profile.js
/TokenAuthWebApiCore.Client/app/user/auth-guard.service.js.map
/TokenAuthWebApiCore.Client/app/user/auth-guard.service.js
/TokenAuthWebApiCore.Client/app/user/user.module.js.map
/TokenAuthWebApiCore.Client/app/user/user.module.js
/TokenAuthWebApiCore.Client/app/user/user.js.map
/TokenAuthWebApiCore.Client/app/user/user.js
/TokenAuthWebApiCore.Client/app/products/index.js.map
/TokenAuthWebApiCore.Client/app/products/index.js
*.js
*.map
